{% extends 'main.html'%}

{%block extend_head%}

<!-- ======= Hero Section ======= -->
<section class="hero-section">
  <div class="container container-custom">
      <div class="row align-items-center">
          <div class="col-12 hero-text-image">
              <div class="row">
                  <div class="col-lg-8 text-center text-lg-start">
                      <h1 class="hero-title" data-aos="fade-right">Early Detection of Depression</h1>
                      <p class="hero-subtitle mb-3" data-aos="fade-right" data-aos-delay="100">Revolutionizing Mental Health Diagnosis</p>
                      <p class="mb-5" data-aos="fade-right" data-aos-delay="200">Empowering Individuals to Prioritize Mental Wellness</p>
                      <p data-aos="fade-right" data-aos-delay="300" data-aos-offset="-500"><a href="#" class="btn btn-outline-white">Get Started</a></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<title>homepage</title>
{%endblock%}

  {% block content%}

   <!-- ======= Depression Awareness Section ======= -->
<section class="section">
  <div class="container">

    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-5" data-aos="fade-up">
        <h2 class="section-heading">Early Detection Saves Lives</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="">
        <div class="feature-1 text-center">
          <div class="wrap-icon icon-1">
            <i class="bi bi-heart"></i>
          </div>
          <h3 class="mb-3">Identify Symptoms</h3>
          <p>Recognize early signs of depression and related behaviors.</p>
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
        <div class="feature-1 text-center">
          <div class="wrap-icon icon-1">
            <i class="bi bi-journal-richtext"></i>
          </div>
          <h3 class="mb-3">Track Progress</h3>
          <p>Monitor individual's mental health journey and treatment outcomes.</p>
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
        <div class="feature-1 text-center">
          <div class="wrap-icon icon-1">
            <i class="bi bi-hand-thumbs-up"></i>
          </div>
          <h3 class="mb-3">Provide Support</h3>
          <p>Offer timely interventions and access to support networks.</p>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Depression Awareness Section -->

   <!-- ======= User Journey Section ======= -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-5" data-aos="fade-up">
        <h2 class="section-heading">Get Started with Ease</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="">
        <div class="step">
          <span class="number">01</span>
          <h3>Register</h3>
          <p>Sign up for an account to begin your journey towards better mental health.</p>
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
        <div class="step">
          <span class="number">02</span>
          <h3>Complete Profile</h3>
          <p>Create your profile and provide necessary information for personalized support.</p>
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
        <div class="step">
          <span class="number">03</span>
          <h3>Start Exploring</h3>
          <p>Enjoy using the app and access various features to support your mental well-being.</p>
        </div>
      </div>
    </div>
  </div>
</section><!-- End User Journey Section -->
{% endblock%}

{% block extend_footer%}

{%endblock%}


  
